html, body {height: 100%; background: #FAFAFA}

/* Form */
form b.error {display: block; margin-top: 5px; font-size: 14px; font-weight: 400; color: #a94442;}

/* Welcome */
.welcome {display: table; width: 100%; height: 100%; text-align: center;}
.welcome .wrapper {display: table-cell; vertical-align: middle;}

/* Login */
.login {width: 100%; max-width: 400px; min-width: 280px; margin: 0 auto; padding: 30px; background: #EFEFEF; border-radius: 10px; box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .2);}
.login h2 {margin-top: 0;}
.login form {margin-top: 30px; margin-bottom: 0;}

/* Chat */
.chat, .create-room {display: none;}
.send-message {margin: 20px 340px 20px 20px;}
#messages {max-height: 250px; overflow: auto;}

/* Console */
.console, .rooms-list {position: absolute; top: 20px; right: 20px; width: 300px;}
.console .status-msgs, .rooms-list .rooms {height: 200px; overflow: auto;}
.console .panel-heading {position: relative;}
.console .btn {position: absolute; top: 3px; right: 3px;}
.sys-msg {color: #F00;}

/* Rooms list */
.rooms-list {top: 300px;}